.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Creates columns with a minimum width of 350px */
    grid-gap: 10px;
}

.items {
    width: 350px;
    border: 2px solid black;
    margin: 10px; /* Add some margin between items */
}

.items p {
    margin: 6px 0px;
}

.item-image img {
    width: 200px !important;
}

/* Media queries for responsive layout */

/* For medium screens */
@media screen and (max-width: 992px) {
    .items-container {
        flex-direction: column;
        align-items: center; /* Center items vertically */
    }
}

/* For small screens */
@media screen and (max-width: 768px) {
    .items {
        width: calc(50% - 20px); /* Adjust item width for two items per row */
    }
}
